<launch>
  <arg name="world_file" default="$(find scenario_test_pkg)/worlds/duo_minilx_lv1.world"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_file)" />
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
  </include>
</launch>